# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Sign Language to Text & Speech API"

# Model Thresholds
CONFIDENCE_THRESHOLD=0.70
SMOOTHING_WINDOW_SIZE=10

# Paths
ASL_MODEL_PATH="models/asl_static.h5"
WLASL_MODEL_PATH="models/wlasl_dynamic.h5"
